<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>MERN Application</title>
<link rel="stylesheet" href="/styles.css" />
</head>
<body>
<div>

    <!-- Header -->
    <div class="header" style="display:flex; justify-content:space-between; align-items:center; background-color: orange;  padding:10px;">
        <div>
            <h1>MERN Application - E-commerce</h1>
        </div>
        <div>
            <ul style="list-style:none; display:flex; gap:20px;">
                <li>
                    <a href="/products">
                        Products
                    </a>
                </li>
                <li>
                    <a href="/users">
                        Users
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Page Content -->
    <div style="padding:20px;">
        <%- body %>
    </div>
    <!-- Footer -->
    <div>
        <h3 style="background-color: silver; padding: 10px;">
            &copy; 2026. All rights reserved.
        </h3>
    </div>
</div>
</body>
</html>