<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User SignUp Page</h1>
    <form action="/users/signup" method="POST">
  <input name="name" placeholder="Name" required />
  <input name="email" placeholder="Email" required />
  <input name="password" type="password" required />
  <input name="role" placeholder="Role" required />
  <button type="submit">Signup</button>
</form>
</body>
</html>